
@{
    ViewBag.Title = "ConfirmOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Đơn hàng của bạn đã được chúng tôi ghi nhận. Chờ chút đi.</h2>
<p>
    @Html.ActionLink("Về Trang Chủ", "Index", "Home")
</p>

