.details {
    padding-top: 9rem;
    padding-bottom: 4rem;
}

.detail-image {
    height: 40rem; 
    width: 40rem;
}


.detail-name {
    font-size: 3rem;
}

.detail-price {
    font-size: 2rem;

}

.detail-ton {
    font-size: 2rem;
}

.detail-description {
    font-size: 2rem;
}