.header {
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
}

.header-1 {
    border-bottom: 1px solid;
    font-size: 1.4rem;
}

a:link {
    text-decoration: none;
}

.header-1 a:hover {
    color: #56cfe1 !important;
}

.hover-blue:hover {
    color: #56cfe1 !important;
}

.header .dropdown {
    display: flex;
    padding: 0;
    list-style: none;
}

.header .dropdown a {
    text-decoration: none;
    color: white;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.has-menu {
    position: relative;
}

.has-menu .submenu {
    position: absolute;
    list-style: none;
    padding-left: 0rem;
    padding-top: 1rem;
    display: none;
    left: -1rem;
}

.has-menu .submenu-2 {
    left: -5rem;
}

.h1-hasmenu {
    width: 5rem;
}

.h1-submenu {
    z-index: 3;
}

.header-1 .submenu li {
    padding: 1rem 1rem;
    width: 12rem;
    background-color: #fff;
    border-bottom: 1px solid #cecdcd;
}

.submenu li:last-child {
    border-bottom: none;
}

.submenu li a {
    display: block;
    color: #888;
    width: 100%;
}

.submenu-img {
    width: 3rem;
    padding-right: 1.2rem;
}

.h1-submenu-link {
    font-size: 1.2rem;
}

.bg-white {
    background-color: #fff;
}

.border-bottom {
    border-bottom: 1px solid #6c757d;
}

.has-menu > a {
    font-size: 1rem;
}

.header-1 .has-menu .submenu {
    list-style: none;
    padding-top: 1.65rem;
    display: none;
}

.has-menu:hover .submenu {
    display: block;
}

/*===============================================================*/
.header .has-menu:hover .submenu {
    display: block;
    animation: upper .2s;
}

.header .submenu {
    animation-name: upper;
}

@keyframes upper {
    from {
        transform: translate(0,25px);
    }

    to {
        transform: none;
    }
}
/*===============================================================*/

