body {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.7);
}

.contact {
    text-align: left;
    display: flex;
    align-items: center;
}

.icon-ctn {
    display: inline-flex;
    margin-right: 2rem;
}

.icon-ctn p {
    color: #fff
}

.contact-text {
    margin: 0 0 0 1rem;
}

.logo-ctn  {
    text-align: center;
    padding: 1rem 0;
}

.logo {
    width: 15rem;
    height: 6rem;
}

.options {
    text-align: right;
}

.options a {
    padding: 1rem;
    text-align: center;
    transition: all .3s;
}

.options a:hover img {
    color: red;
}

.top-icon {
    width: 2rem;
    height: 2rem;
}

.top-right-icon {
    height: 24px;
    width: 24px;
}

.below-block {
    border-top: 1px solid #fff;
}

.item-nav {

}

.item-nav a {
    color: #fff;
    letter-spacing: 1px;
    padding: 15px 30px !important;
    transition: all .3s;
}

.item-nav:hover a {
    color: #56cfe1;
}

.nav > li > a:hover {
    background-color: transparent;
}

.content {
    margin-top: 8.1rem;
}

.row {
    margin-left: 0!important;
    margin-right: 0!important;
}


/* FOOTER */


