a {
    text-decoration: none !important;
}

.products {
    padding-top: 9rem;
}

.product-image {
    height:25rem;
    width:100%;
    padding: 2rem;
    border-radius: 3rem;
}

.overlay {
    opacity: 0;
    top: 0;
    background-color: rgba(0,0,0,.2);
    transition: all .3s;
}

.product:hover .overlay {
    opacity: 1;
}

.product-name {
    font-size: 2rem;

}

.product-price {
    font-size: 1.5rem;
}
