@model IEnumerable<TNCFurnitures.Models.LOAIPHONG>
<link href="~/Styles/home.css" rel="stylesheet" />
<link href="~/Styles/default.css" rel="stylesheet" />
<link href="~/Styles/not-rooms.css" rel="stylesheet" />
@{
    ViewBag.Title = "Home Page";
}

<div class="row carousel-holder" style="margin:0 !important;">
    <div class="col-md-12" style="padding:0 !important;">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2" class="active"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img class="slide-image slider-img" src="~/Images/slider-3.jpg" />
                </div>
                <div class="item">
                    <img class="slide-image slider-img" src="~/Images/slider-2.jpg" />
                </div>
                <div class="item">
                    <img class="slide-image slider-img" src="~/Images/slider-1.jpg" />
                </div>
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</div>

<div class="rooms">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="room bedroom col-12 col-md-6 bedroom-sm">
                <div class="overflow-hidden position-relative">
                    <img class="transition" src="http://themes.magesolution.com/claue/m2/pub/media/promobanners//o/f/office_banner.jpg">
                    <div class="bottom-center w-100 d-flex justify-content-center position-absolute">
                        <div class="room-btn">
                            <a href="@Url.Action("Products", "FurnitureStore", new { id = 2, isRoom = true })" class="text-dark font-weight-bold d-flex justify-content-center align-items-center h-100 transition">Bedroom</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 overflow-hidden not-bedroom">
                <div class="row">
                    <div class="room livingroom col-12 position-relative">
                        <div class="overflow-hidden position-relative">
                            <img class="transition" src="http://themes.magesolution.com/claue/m2/pub/media/promobanners//l/i/living_banner.jpg">
                            <div class="bottom-center w-100 d-flex justify-content-center position-absolute">
                                <div class="room-btn">
                                    <a href="@Url.Action("Products", "FurnitureStore", new { id = 1, isRoom = true })" class="text-dark font-weight-bold d-flex justify-content-center align-items-center h-100 transition">Living Room</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="room bathroom col-12 col-md-6 position-relative bathroom-sm">
                        <div class="overflow-hidden position-relative">
                            <img class="transition" src="http://themes.magesolution.com/claue/m2/pub/media/promobanners//b/e/bedroom_banner.jpg" style="height:40.4rem;">
                            <div class="bottom-center w-100 d-flex justify-content-center position-absolute">
                                <div class="room-btn">
                                    <a href="@Url.Action("Products", "FurnitureStore", new { id = 4, isRoom = true })" class="text-dark font-weight-bold d-flex justify-content-center align-items-center h-100 transition">Bathroom</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="room diningroom col-12 col-md-6 position-relative diningroom-sm">
                        <div class="overflow-hidden position-relative">
                            <img class="transition" src="http://themes.magesolution.com/claue/m2/pub/media/promobanners//d/i/dining_banner.jpg" style="height:40.4rem;">
                            <div class="bottom-center w-100 d-flex justify-content-center position-absolute">
                                <div class="room-btn">
                                    <a href="@Url.Action("Products", "FurnitureStore", new { id = 3, isRoom = true })" class="text-dark font-weight-bold d-flex justify-content-center align-items-center h-100 transition">Dining Room</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>